{% extends 'cryptobot/base.html' %}
{% block head %}
{% endblock head %}

{% block header %}
/crypto
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col"></th>
                <th scope="col" class="text-right">1h</th>
                <th scope="col" class="text-right">24h</th>
                <th scope="col" class="text-right">3d</th>
                <th scope="col" class="text-right">7d</th>
                <th scope="col" class="text-right">30d</th>
                <th scope="col" class="text-right">MarketBot</th>
                <th scope="col">Updated</th>
                <th scope="col"></th>
            </tr>
        {% for crypto in cryptos %}
            <tr>
                <td><b>{{ crypto.name }}</b></td>
                <td class="text-right">{{ crypto.price }}PLN</td>
                <td></td>
                <td class="text-right">{{ crypto.one_hour|safe }}</td>
                <td class="text-right">{{ crypto.twenty_four_hours|safe }}</td>
                <td class="text-right">{{ crypto.three_days|safe }}</td>
                <td class="text-right">{{ crypto.seven_days|safe }}</td>
                <td class="text-right">{{ crypto.thirty_days|safe }}</td>
                <td class="text-right">{{ crypto.market_watcher|safe }}</td>
                <td>{{ crypto.date }}</td>
                <td><a class="btn btn-light" href="{% url 'crypto:history' crypto.name 1 %}" role="button">History</a> <a class="btn btn-dark" href="{% url 'crypto:rulesets' crypto.name %}" role="button">My rulesets</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
