{% extends 'cryptobot/base.html' %}
{% block head %}
{% endblock head %}

{% block header %}
/crypto
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <tr>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col">1h</th>
                <th scope="col">24h</th>
                <th scope="col">3d</th>
                <th scope="col">7d</th>
                <th scope="col">30d</th>
                <th scope="col"></th>
            </tr>
        {% for crypto in cryptos %}
            <tr>
                <td><b>{{ crypto.name }}</b></td>
                <td>{{ crypto.price }}PLN</td>
                <td></td>
                <td>{{ crypto.one_hour|safe }}</td>
                <td>{{ crypto.twenty_four_hours|safe }}</td>
                <td>{{ crypto.three_days|safe }}</td>
                <td>{{ crypto.seven_days|safe }}</td>
                <td>{{ crypto.thirty_days|safe }}</td>
                <td><a class="btn btn-light" href="{% url 'crypto:history' crypto.name %}" role="button">History</a> <a class="btn btn-dark" href="{% url 'crypto:rulesets' crypto.name %}" role="button">My rulesets</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
