{% extends 'cryptobot/base.html' %}
{% load crypto_extras %}
{% block head %}
{% endblock head %}

{% block header %}
/history/{{ruleset.name}}
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 style="margin-left:20px;">{{ ruleset.name }}</h2>
        <table class="table">
            <tr>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col">Price (PLN)</th>
                <th scope="col">Amount ({{crypto.short_name}})</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
            </tr>
        {% for log in trades %}
            <tr>
                <td></td>
                <td>{{ log.date }}PLN</td>
                <td></td>
                <td>{{ log.price }}</td>
                <td>{{ log.amount }}</td>
                <td>{{ log.type_of_trade|reverse_trade }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </table>
        <div>
            <a class="btn btn-secondary float-left m-2" href="{% url 'crypto:rulesets' crypto.long_name %}" role="button">Go back</a>
        </div>
    {% endif %}
{% endblock %}
