{% extends 'cryptobot/base.html' %}
{% block head %}
{% endblock head %}

{% block header %}
/rulesets/{{crypto}}
{% endblock header %}


{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Manage</th>
                <th scope="col">Rules</th>
            </tr>
        {% for ruleset in rulesets %}
            <tr>
                <td></td>
                <td><b>{{ ruleset.name }}</b></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-light" href="{% url 'crypto:execution_log' crypto ruleset.id %}" role="button">Execution Log</a> <a
                        class="btn btn-light" href="{% url 'crypto:remove_ruleset' crypto ruleset.id %}"
                        role="button">Remove</a> <a
                        class="btn btn-light" href="{% url 'crypto:add_edit_ruleset' crypto ruleset.id %}"
                        role="button">Edit</a> 
                </td>
                <td><a class="btn btn-dark" href="{% url 'crypto:rules' crypto ruleset.id %}" role="button">Edit rules</a></td>
            </tr>
        {% endfor %}
        </table>
        <div>
        <a class="btn btn-success float-right m-2" href="{% url 'crypto:add_edit_ruleset' crypto 0 %}" role="button">Add ruleset</a>
        <a class="btn btn-secondary float-left m-2" href="/" role="button">Go back</a>
        </div>
    {% endif %}
{% endblock %}
