{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-grid.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
        {% block link %}
        {% endblock link %}

        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" href="/">CryptoBot</a>

          {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">{% block header %}{% endblock header %}</a>
              </li>
            </ul>
            <a class="navbar-text btn btn-outline-dark" href="{% url 'registration:logout' %}">Logout</a>
          {% endif %}
        </nav>

        <div style="min-height:30px;"></div>

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <div>
            {% block errors %}
                {% if error %}
                <center>
                    <div class="alert alert-danger" style="max-width:40%;">
                        <strong>Error!</strong> {{error}}
                    </div>
                </center>
                {% endif %}
            {% endblock errors %}
        </div>
        <div>
            {% block help %}
            {% endblock help %}
        </div>

    </body>
    <div>
        <center>
            Crafted by <a href="https://github.com/drozdowsky">@drozdowsky</a> | <a href="{% url 'registration:privacy' %}">Privacy Policy</a>
        </center>
    </div>
</html>
